<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <ngx-usersecharts-pie></ngx-usersecharts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar</nb-card-header>
      <nb-card-body>
        <ngx-usersecharts-bar></ngx-usersecharts-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Line</nb-card-header>
      <nb-card-body>
        <ngx-usersecharts-line></ngx-usersecharts-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Multiple x-axis</nb-card-header>
      <nb-card-body>
        <ngx-usersecharts-multiple-xaxis></ngx-usersecharts-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Area Stack</nb-card-header>
      <nb-card-body>
        <ngx-usersecharts-area-stack></ngx-usersecharts-area-stack>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar Animation</nb-card-header>
      <nb-card-body>
        <ngx-usersecharts-bar-animation></ngx-usersecharts-bar-animation>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Radar</nb-card-header>
      <nb-card-body>
        <ngx-usersecharts-radar></ngx-usersecharts-radar>
      </nb-card-body>
    </nb-card>
  </div>
</div>



<div class="row">
  <div class="form-group col-md-4">
    <label for="tweetDateRange">Tweet Date Range</label>
    <input id ="tweetDateRange" name="tweetDateRange" type="text" bsDaterangepicker [bsConfig]="datePickerConfig" class="form-control" [(ngModel)]="tweetDateRange">
  </div>
  <div class="panel-footer col-md-4">
       <button class="btn btn-primary" style="margin-top: 30px;" type="submit" (click)="getAllTweets()" >Get All Tweets</button>
  </div>
</div>

<nb-card>
  <nb-card-header>
    Twitter Data
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="twitterSource" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Uniquely Tweeted Data
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="uniquelyTweetedSource" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Retweeted/Duplicate Data
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="reTweetedSource" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>





